/****************************************************************************************
*****************************************************************************************
*****************************************************************************************
全局设置
*****************************************************************************************
*****************************************************************************************
/***************************************************************************************/

body {
    background: rgb(246, 246, 246);
}

h2 {
    font-size: 5vw;
    padding: 1vh 0;
}

h3 {
    font-size: 4vw;
    padding: 1vh 0;
}

p {
    font-size: 3vw;
    line-height: 2;
    color: rgb(127, 127, 127);
    padding: 1vh 0;
}


/****************************************************************************************
*****************************************************************************************
*****************************************************************************************
字体设置
*****************************************************************************************
*****************************************************************************************
/***************************************************************************************/

.text-center {
    text-align: center !important;
}

.rgb-234-89-20 {
    color: rgb(234, 89, 20);
}

.big-red {
    color: rgb(240, 83, 35);
    font-size: 4vw;
    padding: 0 5px;
}

.big-green {
    color: rgb(175, 183, 1);
    font-size: 4vw;
    padding: 0 5px;
}

.large-green {
    color: rgb(175, 183, 1) !important;
    font-size: 8vw !important;
    padding: 0 5px;
    text-align: center!important;
}


/****************************************************************************************
*****************************************************************************************
*****************************************************************************************
框架设置
*****************************************************************************************
*****************************************************************************************
/***************************************************************************************/

.banner {
    width: 100vw;
}

.title {
    background: url(../../images/who-we-are/3.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    text-align: center;
    padding: 25px 0 25px;
    background-position: 50% 100%;
    margin-bottom: 20px;
}

.paragraph {
    padding: 1vh 3vw;
    text-align: justify;
}

.half-left {
    width: 49%;
    float: left;
}

.half-right {
    width: 49%;
    float: right;
}

.left-img-right-content {
    height: 200px;
    -webkit-box-shadow: 0 0 10px rgba(234, 234, 234, .5);
    -moz-box-shadow: 0 0 10px rgba(234, 234, 234, .5);
    box-shadow: 0 0 10px rgba(234, 234, 234, .5);
    background-color: #fff;
    display: table;
    padding: 10px;
    margin-bottom: 40px;
}

.left-img-right-content .img {
    display: table-cell;
    width: 45%;
    vertical-align: top;
}

.left-img-right-content img {
    width: 100%;
}

.left-img-right-content .right-content {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    float: right;
}

.left-img-right-content h2 {
    width: 100%;
    color: rgb(234, 89, 20);
    text-align: left;
}

.left-img-right-content p {
    width: 100%;
    text-align: left;
    padding: 5px 0;
    color: rgb(127, 127, 127);
}

.right-img-left-content {
    margin-bottom: 40px;
    height: 200px;
    -webkit-box-shadow: 0 0 10px rgba(234, 234, 234, .5);
    -moz-box-shadow: 0 0 10px rgba(234, 234, 234, .5);
    box-shadow: 0 0 10px rgba(234, 234, 234, .5);
    background-color: #fff;
    display: table;
    padding: 10px;
}

.right-img-left-content .img {
    display: table-cell;
    vertical-align: top;
    width: 45%;
}

.right-img-left-content img {
    width: 100%;
}

.right-img-left-content .left-content {
    width: 100%;
    vertical-align: middle;
    height: 100%;
    padding-right: 5%;
    float: left;
}

.right-img-left-content h2 {
    width: 100%;
    font-family: fzltxh;
    color: rgb(234, 89, 20);
    text-align: left;
}

.right-img-left-content p {
    width: 100%;
    text-align: left;
    color: rgb(127, 127, 127);
}

.description {
    margin-bottom: 20px;
}

.description p {
    text-align: center;
    color: rgb(127, 127, 127);
    padding: 1vh 0;
}

.h2-center {
    text-align: center;
    font-size: 4vw;
    padding: 2vh 0;
}

.content {
    padding: 0 10px;
    margin-bottom: 20px;
}

.content p {
    padding: 1vh 0;
    text-align: justify;
    width: 100%;
}

.gallery {
    margin-bottom: 4vh;
    background-color: #fff;
}

.gallery a {
    width: 100%;
    float: left;
}

.gallery a img {
    width: 100%;
}

.gallery h3 {
    width: 100%;
    text-align: left;
    float: left;
    text-transform: Uppercase;
    padding: 1vh 2vw;
}

.gallery p {
    width: 100%;
    text-align: left;
    padding: 1vh 2vw;
    color: rgb(127, 127, 127);
    float: left;
}

.statistics {
    background: url(../../images/where-we-are/12.png) no-repeat;
    background-position: 50% 0;
    height: 55px;
    width: 100%;
    margin: 50px 0 10px;
}