/******************************************************************************************
*******************************************************************************************
**用于fullpafe项目导航
*******************************************************************************************
******************************************************************************************/

.arrow {
    position: absolute;
    bottom: 1vh;
    left: 47.5vw;
    z-index: 3000;
    width: 3vw;
    opacity: 0.5;
}

.banner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
}


/******************************************************************************************
*******************************************************************************************
**用于fullpafe项目导航
*******************************************************************************************
******************************************************************************************/

.banner0 {
    background-color: #fe5000;
}

.banner0 .left-arrow {
    background-image: url(../../images/index/banner2/left-arrow.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 4vh;
    z-index: 9999;
    position: absolute;
    top: 78vh;
    left: 7vw;
}

.banner0 .right-arrow {
    background-image: url(../../images/index/banner2/right-arrow.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 4vh;
    z-index: 9999;
    position: absolute;
    top: 78vh;
    right: 7vw;
}

.banner0 .slide {
    height: 100vh;
    width: 100vw;
    padding: 9vh 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner0 .slide div, .banner0 .slide p {
    position: absolute;
}

.banner0 .slide .bg {
    width: 100vw;
    top: 9vh;
    left: 0;
    height: 40%;
    overflow: hidden;
}

.banner0 .slide .bg img {
    width: 100vw;
}

.banner0 .slide .text {
    width: 70vw;
    top: 27vh;
    left: 21vw;
    height: 10vh;
    text-align: center;
}

.banner0 .slide .text img {
    height: 100%;
    position: relative;
}

.banner0 .slide .logo {
    background-color: #fe5000;
    height: 27%;
    width: 100vw;
    position: absolute;
    top: 46%;
    text-align: center;
    overflow: hidden;
    padding: 8% 0;
}

.banner0 .slide .logo img {
    height: 100%;
    position: relative;
}

.banner0 .slide p {
    top: 73vh;
    left: 11vw;
    color: #fff;
    text-align: center;
    width: 80vw;
    font-size: 3vw;
    line-height: 2;
}


/******************************************************************************************
*******************************************************************************************
**用于fullpafe项目导航
*******************************************************************************************
******************************************************************************************/

.banner1 {
    width: 100%;
    overflow: hidden;
}

.banner1-content {
    width: 400%;
    height: 100%;
    position: relative;
    float: left;
}

.banner1 .left-arrow {
    background-image: url(../../images/index/banner1/left-arrow.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 6vh;
    z-index: 9999;
    position: absolute;
    top: 50vh;
    left: 3vw;
}

.banner1 .right-arrow {
    background-image: url(../../images/index/banner1/right-arrow.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 6vh;
    z-index: 9999;
    position: absolute;
    top: 50vh;
    right: 3vw;
}

.banner1 .slide {
    height: 100vh;
    padding-top: 9vh;
    width: 25%;
    display: block;
    float: left;
}

.banner1 .slide ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.banner1 .slide img {
    position: absolute;
    max-width: 500% !important;
    /* display: none; */
}

.banner1-slide1-content {
    background-color: #4b89b1;
}

.banner1-slide2-content {
    background-color: #e7bb68;
}

.banner1-slide4-content {
    background-color: #99b676;
}

.banner1-slide3-content {
    background-color: #ac657c;
}


/******************************************************************************************
*******************************************************************************************
**用于fullpafe项目导航
*******************************************************************************************
******************************************************************************************/

.banner2 {
    background-color: #fe5000;
}

.banner2 .left-arrow {
    background-image: url(../../images/index/banner2/left-arrow.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 4vh;
    z-index: 9999;
    position: absolute;
    top: 78vh;
    left: 7vw;
}

.banner2 .right-arrow {
    background-image: url(../../images/index/banner2/right-arrow.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 4vh;
    z-index: 9999;
    position: absolute;
    top: 78vh;
    right: 7vw;
}

.banner2 .slide {
    height: 100vh;
    width: 100vw;
    padding: 9vh 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner2 .slide div, .banner2 .slide p {
    position: absolute;
}

.banner2 .slide .bg {
    width: 100vw;
    top: 9vh;
    left: 0;
    height: 40%;
    overflow: hidden;
}

.banner2 .slide .bg img {
    width: 100vw;
}

.banner2 .slide .text {
    width: 70vw;
    top: 27vh;
    left: 21vw;
    height: 10vh;
    text-align: center;
}

.banner2 .slide .text img {
    height: 100%;
    position: relative;
}

.banner2 .slide .logo {
    background-color: #fe5000;
    height: 22%;
    width: 100vw;
    position: absolute;
    top: 46%;
    text-align: center;
    overflow: hidden;
    padding: 8% 0;
}

.banner2 .slide .logo img {
    height: 100%;
    position: relative;
}

.banner2 .slide p {
    top: 69vh;
    left: 11vw;
    color: #fff;
    text-align: center;
    width: 80vw;
    font-size: 3vw;
    line-height: 2;
}


/******************************************************************************************
*******************************************************************************************
**用于fullpafe项目导航
*******************************************************************************************
******************************************************************************************/

.banner3 {
    background-color: #fe5000;
}

.banner3 .left-arrow {
    background-image: url(../../images/index/banner2/left-arrow.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 4vh;
    z-index: 9999;
    position: absolute;
    top: 78vh;
    left: 7vw;
}

.banner3 .right-arrow {
    background-image: url(../../images/index/banner2/right-arrow.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 4vh;
    z-index: 9999;
    position: absolute;
    top: 78vh;
    right: 7vw;
}

.banner3 .slide {
    height: 100vh;
    width: 100vw;
    padding: 9vh 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner3 .slide div, .banner3 .slide p, .banner3 .slide h3 {
    position: absolute;
    /* display: none; */
}

.banner3 .slide .bg {
    width: 100vw;
    top: 9vh;
    left: 0;
    height: 40%;
    overflow: hidden;
}

.banner3 .slide .bg img {
    width: 100vw;
}

.banner3 .slide .text {
    width: 70vw;
    top: 27vh;
    left: 21vw;
    height: 10vh;
    text-align: center;
}

.banner3 .slide .text img {
    height: 100%;
    position: relative;
}

.banner3 .slide .bottom {
    background-color: #fe5000;
    height: 30%;
    width: 100vw;
    position: absolute;
    top: 46%;
    text-align: center;
    overflow: hidden;
    padding: 5% 0;
}

.banner3 .slide .bottom img {
    height: 100%;
    position: relative;
}

.banner3 .slide h3 {
    color: #fff;
    text-align: center;
    width: 80vw;
    left: 10vw;
    font-size: 5.5vw;
    line-height: 2;
    font-family: fzltxh !important;
}

.banner3 .slide p {
    left: 10vw;
    color: #fff;
    text-align: center;
    width: 80vw;
    font-size: 2.5vw;
    line-height: 2;
    font-family: fzltxh !important;
}

#banner3-vedio{
    height: auto;
    width: 10vw;
    bottom: 10px;
}

#banner3-vedio-wrap{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../images/index/banner3/black-bg.png) repeat;
    z-index: 100000;
    display: none;
}

#banner3-vedio-close{
    width: 9vw;
    height: 9vw;
    background: url(../../images/index/banner3/close.png) no-repeat;
    position: absolute;
    background-size: contain;
    top: 10vh;
    right: 4vh;
}

#banner3-vedio-content{
    width: 90vw;
    height: 50vh;
    position: absolute;
    top: 20vh;
    right: 5vw;
}

/******************************************************************************************
*******************************************************************************************
**用于fullpafe项目导航
*******************************************************************************************
******************************************************************************************/

.banner4 {
    height: 100vh;
    overflow: hidden;
}

.banner4 .slide {
    position: absolute;
    height: 33%;
    width: 100vw;
}

.banner4 .slide img {
    position: absolute;
    width: 100%;
}

.banner4 .slide .text {
    width: 25vw;
}

.banner4 .slide .plus {
    position: absolute;
    background-image: url(../../images/index/banner4/4.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 8vw;
    height: 8vw;
}

.banner4 .banner4-slide-content1 {
    top: 6vh;
    left: 0;
    transform: skew(0,3deg);
    overflow: hidden;
    z-index: 1000;
}

.banner4 .banner4-slide-content1 *{
    transform: skew(0,-3deg);
}

.banner4 .banner4-slide-content1 .bg {
    top: 0;
    left: 0;
}

.banner4 .banner4-slide-content1 .text {
    top: 25vh;
    left: 60vw;
}

.banner4 .banner4-slide-content1 .plus {
    top: 24vh;
    left: 87vw;
}

.banner4 .banner4-slide-content2 {
    top: 37vh;
    left: 0;
 
}

.banner4 .banner4-slide-content2 .bg {
    top: 0;
    left: 0;
}

.banner4 .banner4-slide-content2 .text {
    top: 28vh;
    left: 5vw;
}

.banner4 .banner4-slide-content2 .plus {
    top: 28vh;
    left: 32vw;
}

.banner4 .banner4-slide-content3 {
    bottom: -3vh;
    left: 0;
    transform: skew(0,-3deg);
    overflow: hidden;
    z-index: 1000;
}

.banner4 .banner4-slide-content3 * {
    transform: skew(0,3deg);
}

.banner4 .banner4-slide-content3 .bg {
    top: -3vh;
    left: 0;
    height: 100%;
}

.banner4 .banner4-slide-content3 .text {
    bottom: 5vh;
    left: 60vw;
}

.banner4 .banner4-slide-content3 .plus {
    bottom: 5vh;
    left: 87vw;
}