/******************************************************************************************
*******************************************************************************************
**用于fullpafe项目导航
*******************************************************************************************
******************************************************************************************/

.banner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
	display: none;
}


/******************************************************************************************
*******************************************************************************************
**用于fullpafe项目导航
*******************************************************************************************
******************************************************************************************/

.banner1 {
}

.banner1 .left-arrow {
    background-image: url(../../images/index/banner1/left-arrow.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 6vh;
    z-index: 9999;
    position: absolute;
    top: 50vh;
    left: 3vw;
}

.banner1 .right-arrow {
    background-image: url(../../images/index/banner1/right-arrow.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 6vh;
    z-index: 9999;
    position: absolute;
    top: 50vh;
    right: 3vw;
}

.banner1 .slide {
    height: 100vh;
    width: 100vw;
    padding: 9vh 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner1 .slide ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.banner1 .slide img {
    position: absolute;
    max-width: 500% !important;
    /* display: none; */
}

.banner1-slide1-content {
    background-color: #4b89b1;
}

.banner1-slide2-content {
    background-color: #e7bb68;
}

.banner1-slide4-content {
    background-color: #99b676;
}

.banner1-slide3-content {
    background-color: #ac657c;
}


/******************************************************************************************
*******************************************************************************************
**用于fullpafe项目导航
*******************************************************************************************
******************************************************************************************/

.banner2 {
    background-color: #ee5322;
}

.banner2 .left-arrow {
    background-image: url(../../images/index/banner2/left-arrow.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 4vh;
    z-index: 9999;
    position: absolute;
    top: 78vh;
    left: 7vw;
}

.banner2 .right-arrow {
    background-image: url(../../images/index/banner2/right-arrow.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 4vh;
    z-index: 9999;
    position: absolute;
    top: 78vh;
    right: 7vw;
}

.banner2 .slide {
    height: 100vh;
    width: 100vw;
    padding: 9vh 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner2 .slide img,
.banner2 .slide p {
    position: absolute;
    /* display: none; */
}

.banner2 .slide .bg {
    width: 100vw;
    top: 9vh;
    left: 0;
}

.banner2 .slide .text {
    width: 70vw;
    top: 30vh;
    left: 21vw;
}

.banner2 .slide .logo {
    width: 20vw;
    top: 52vh;
    left: 40vw;
}

.banner2 .slide p {
    top: 69vh;
    left: 11vw;
    color: #fff;
    text-align: center;
    width: 80vw;
    font-size: 4vw;
    line-height: 2;
}


/******************************************************************************************
*******************************************************************************************
**用于fullpafe项目导航
*******************************************************************************************
******************************************************************************************/

.banner3 {
	background-color: #ee5322;
}

.banner3 .left-arrow {
    background-image: url(../../images/index/banner2/left-arrow.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 4vh;
    z-index: 9999;
    position: absolute;
    top: 78vh;
    left: 7vw;
}

.banner3 .right-arrow {
    background-image: url(../../images/index/banner2/right-arrow.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24vw;
    height: 4vh;
    z-index: 9999;
    position: absolute;
    top: 78vh;
    right: 7vw;
}

.banner3 .slide {
    height: 100vh;
    width: 100vw;
    padding: 9vh 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner3 .slide div,
.banner3 .slide p,
.banner3 .slide h3 {
    position: absolute;
    /* display: none; */
}

.banner3 .slide .bg {
    width: 100vw;
    top: 9vh;
    left: 0;
	height:40%;
	overflow:hidden;
}
.banner3 .slide .bg img{
	width:100vw;
}

.banner3 .slide .text {
    width: 70vw;
    top: 27vh;
    left: 21vw;
    height: 10vh;
    text-align: center;
}

.banner3 .slide .text img{
	height: 100%;
    position: relative;
}

.banner3 .slide .bottom {
	background-color: #ee5322;
    height: 30%;
    width: 100vw;
    position: absolute;
    top: 46%;
    text-align: center;
    overflow: hidden;
    padding: 5% 0;
}

.banner3 .slide .bottom img{
	height: 100%;
    position: relative;
}

.banner3 .slide h3{
	color: #fff;
    text-align: center;
    width: 80vw;
	left: 10vw;
    font-size: 5.5vw;
    line-height: 2;
	font-family: fzltxh !important;
}

.banner3 .slide p {
    left: 10vw;
    color: #fff;
    text-align: center;
    width: 80vw;
    font-size: 2.5vw;
    line-height: 2;
	font-family: fzltxh !important;
}