<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />

    <title>{$pageTitle}</title>

    <link href="__ROOT__/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link type="text/css" href="__CSS__/base.css" rel="stylesheet">
    <block name="style"></block>
    <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
</head>

<body>
    <div id="header-wrap">
        <a class="logo" href="/"> </a>
        <a class="menu-nav" href="javascript:;"><span class="menu-button"></span> </a>
        <ul class="nav">
            <li>
                <a class="introduction" href="{:U('howWeWork')}" title="品牌详情"></a>
            </li>
            <li>
                <a class="detail" href="{:U('whoWeAre')}" title="品牌介绍"></a>
            </li>
            <li>
                <a class="source" href="{:U('whereWeAre')}" title="品牌来源"></a>
            </li>
        </ul>

        <ul class="social">
            <li>
                <a class="weixin" href="https://mp.weixin.qq.com/s/E9SY-B0XN8poUO5ClGFqrg"></a>
            </li>
            <li>
                <a class="weibo" href="http://weibo.com/u/6326800239"></a>
            </li>
            <li>
                <a class="kaola" href="https://mall.kaola.com/675665"></a>
            </li>
        </ul>

        <ul class="footer">
            <li><a href="javascript:;">&copy;Orange Garten</a></li>
            <li><a href="javascript:;">客服热线: 400-820-5325</a></li>
            <li>网站使用条款</li>
            <li>沪ICP备 12041915号-2</li>
        </ul>
    </div>

    <div id="main-wrap">
        <block name="body"></block>
    </div>

    <script type="text/javascript">
        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
            var url = window.location.pathname + window.location.search;
            url = url.replace(/(\/(p)\/\d+)|(&p=\d+)|(\/(id)\/\d+)|(&id=\d+)|(\/(group)\/\d+)|(&group=\d+)/, "");

            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                if (document.domain != "m.ot.com") {
                    window.location.href = "http://m.ot.com" + url;
                }
            } else {
                if (document.domain != "ot.com") {
                    window.location.href = "http://ot.com" + url;
                }
            }
        }


        $(function () {
            browserRedirect();

            $('.menu-nav').on('click', function () {
                if ($(this).find('.menu-button').length) {
                    $(this).find('.menu-button').removeClass('menu-button').addClass('close-bg');
                    $('#header-wrap').animate({
                        height: '100vh'
                    });
                } else if ($(this).find('.close-bg').length) {
                    $(this).find('.close-bg').removeClass('close-bg').addClass('menu-button');
                    $('#header-wrap').animate({
                        height: '9vh'
                    });
                }
            })
        })
    </script>

    <block name="script"></block>
</body>

</html>