<extend name='Public/layout' />

<block name='style'>
    <link type='text/css' href='__CSS__/index/index.css' rel='stylesheet' />
</block>

<block name='body'>
    <img class="arrow" src='__IMG__/index/arrow.png'>
    <div class='banner banner1'>
        <a href='javascript:;' class='left-arrow'></a>
        <a href='javascript:;' class='right-arrow'></a>
        <div class='banner1-content'>
            <div class='slide'>
                <ul class='banner1-slide1-content'>
                    <li class='layer' data-depth='0.80'>
                        <div>
                            <img style='width: 35%;top: 86%;left: 60%;' src='__IMG__/index/banner1/1/text-2.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.60'>
                        <div>
                            <img style='width: 35%;top: 4%;left: 62%;' src='__IMG__/index/banner1/bg.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.40'>
                        <div>
                            <img style='width: 180%;top: 15%;left: 20%;' src='__IMG__/index/banner1/1/product.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.20'>
                        <div>
                            <img class='text' style='width: 90%;top: 66%;left: 5%;' src='__IMG__/index/banner1/1/text-1.png'>
                        </div>
                    </li>
                </ul>
            </div>
            <div class='slide'>
                <ul class='banner1-slide2-content'>
                    <li class='layer' data-depth='0.80'>
                        <div>
                            <img style='width: 25%;top: 86%;left: 65%;' src='__IMG__/index/banner1/2/text-2.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.60'>
                        <div>
                            <img style='width: 40%;top: 11%;left: 55%;' src='__IMG__/index/banner1/bg.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.40'>
                        <div>
                            <img style='width: 160%;top: 35%;left: 20%;' src='__IMG__/index/banner1/2/product.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.20'>
                        <div>
                            <img class='text' style='width: 80%;top: 68%;left: 10%;' src='__IMG__/index/banner1/2/text-1.png'>
                        </div>
                    </li>
                </ul>
            </div>
            <div class='slide'>
                <ul class='banner1-slide3-content'>
                    <li class='layer' data-depth='0.80'>
                        <div>
                            <img style='width: 40%;top: 88%;left: 52%;' src='__IMG__/index/banner1/3/text-2.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.60'>
                        <div>
                            <img style='width: 40%;top: 5%;left: 60%;' src='__IMG__/index/banner1/bg.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.40'>
                        <div>
                            <img style='width: 180%;top: 25%;left: 10%;' src='__IMG__/index/banner1/3/product.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.20'>
                        <div>
                            <img class='text' style='width: 80%;top: 67%;left: 10%;' src='__IMG__/index/banner1/3/text-1.png'>
                        </div>
                    </li>
                </ul>
            </div>
            <div class='slide'>
                <ul class='banner1-slide4-content'>
                    <li class='layer' data-depth='0.80'>
                        <div>
                            <img style='width: 30%;top: 90%;left: 62%;' src='__IMG__/index/banner1/4/text-2.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.60'>
                        <div>
                            <img style='width: 40%;top: 5%;left: 57%;' src='__IMG__/index/banner1/bg.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.40'>
                        <div>
                            <img style='width: 170%;top: 25%;left: 15%;' src='__IMG__/index/banner1/4/product.png'>
                        </div>
                    </li>
                    <li class='layer' data-depth='0.20'>
                        <div>
                            <img class='text' style='width: 90%;top: 68%;left: 5%;' src='__IMG__/index/banner1/4/text-1.png'>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 












    
     -->
    <div class='banner banner2'>
        <a href='javascript:;' class='left-arrow'></a>
        <a href='javascript:;' class='right-arrow'></a>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner2/bg-1.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner2/text.png'>
            </div>
            <div class='logo'>
                <img src='__IMG__/index/banner2/logo.png'>
            </div>
            <p>
                生活中，你会看到许许多多的标志。<br />有一种标志，它像你的家人朋友般懂你。<br />懂你向往随性，自在，无忧无虑，<br />不想去遵守太多的计划性，<br />尽情享受各种精彩的可能。
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner2/bg-2.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner2/text.png'>
            </div>
            <div class='logo'>
                <img src='__IMG__/index/banner2/logo.png'>
            </div>
            <p>
                对于我们来说，这个标志，<br />绝不仅仅是一个符号<br />它代表你向往的生活，<br />而生活的背后<br />更是我们对你的用心和关爱！
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner2/bg-3.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner2/text.png'>
            </div>
            <div class='logo'>
                <img src='__IMG__/index/banner2/logo.png'>
            </div>
            <p style='top: 72vh;'>
                每当你看到这个标志，<br />你就知道<br />我们正在守护着你所在乎的一切，<br />持之以恒，兢兢业业。
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner2/bg-4.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner2/text.png'>
            </div>
            <div class='logo'>
                <img src='__IMG__/index/banner2/logo.png'>
            </div>
            <p>
                每当你看到这个标志，<br />你会不经意地放下所有顾虑。<br />因为你知道它代表着<br />最严苛的国际标准，<br />最专业的态度和要求。
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner2/bg-5.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner2/text.png'>
            </div>
            <div class='logo'>
                <img src='__IMG__/index/banner2/logo.png'>
            </div>
            <p>
                每当你看到这个标志，<br />你会知道每一件商品的来龙去脉，<br />因为我们自制自营，<br />并且获得了国际认证的可追踪标志，<br />每个环节都经得起追踪和检验。
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner2/bg-6.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner2/text.png'>
            </div>
            <div class='logo'>
                <img src='__IMG__/index/banner2/logo.png'>
            </div>
            <p>
                每当你看到这个标志，<br />你还会感到平淡和无聊吗？！<br />我们每两年就会针对<br />60%的产品进行更新换代，<br />让你尽情尽享，肆意生活。
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner2/bg-7.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner2/text.png'>
            </div>
            <div class='logo'>
                <img src='__IMG__/index/banner2/logo.png'>
            </div>
            <p style='top: 68vh;'>
                这个标志就是欧瑞家，<br />把欧洲的品味生活和严苛<br />的瑞士品质带回家。<br />  这种自在的购物体验<br />和随性的生活乐趣，<br />你一定会爱上它，信赖它，享受它！
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner2/bg-8.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner2/text.png'>
            </div>
            <div class='logo'>
                <img src='__IMG__/index/banner2/logo.png'>
            </div>
            <p style='top: 75vh;'>
                因为在欧瑞家 <br />我们尽心，你尽兴
            </p>
        </div>
    </div>
    <!-- 












    
     -->
    <div class='banner banner3'>
        <a href='javascript:;' class='left-arrow'></a>
        <a href='javascript:;' class='right-arrow'></a>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner3/top.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner3/text.png'>
            </div>
            <div class='bottom'>
                <img src='__IMG__/index/banner3/bg-1.png'>
            </div>
            <h3 style='top: 76vh;'>Migros的起源</h3>
            <p style='top: 85vh;'>
                Migros创建于1925年，<br />通过5辆小型货车以及<br />雇佣的16名员工，建造了移动商店。
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner3/top.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner3/text.png'>
            </div>
            <div class='bottom'>
                <img src='__IMG__/index/banner3/bg-2.jpg'>
            </div>
            <h3 style='top: 76vh;'>开启自制自营时代</h3>
            <p style='top: 85vh;'>
                1928年，为抵抗竞争对手的联合封杀，<br />Gottlieb开办工厂，<br />生产Migros自主产品，开启自制自营时代。
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner3/top.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner3/text.png'>
            </div>
            <div class='bottom'>
                <img src='__IMG__/index/banner3/bg-3.jpg'>
            </div>
            <h3 style='top: 74vh;'>奉献精神延续至今</h3>
            <p style='top: 83vh;'>
                1941年，Migros拥有门店超100余家，<br />Gottlieb更将所有权转让客户，使Migros全面民主化经营，<br />惠及社会和更多弱势群体，<br />这种强烈地社会责任感和奉献精神延续至今。
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner3/top.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner3/text.png'>
            </div>
            <div class='bottom'>
                <img src='__IMG__/index/banner3/bg-4.jpg'>
            </div>
            <h3 style='top: 74vh;'>“像家一样温馨”</h3>
            <p style='top: 83vh;'>
                1948年，Gottlieb对零售商业模式<br />进行了创新——欧洲首个自选商店诞生，<br />改变了瑞士家庭主妇的生活，<br />从产品品质到购物体验，都“像家一样温馨”。
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner3/top.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner3/text.png'>
            </div>
            <div class='bottom'>
                <img src='__IMG__/index/banner3/bg-5.png'>
            </div>
            <h3 style='top: 74vh;'>最有影响力的瑞士企业家</h3>
            <p style='top: 81vh;'>
                2012年，Migros成立“Generation M”，<br />做出30余项可持续发展承诺，<br />未来将惠及更多的年轻人和儿童。<br />同年，Gottlieb Duttweiler被瑞士政府评为“近100年来最<br />有影响力的瑞士企业家”。
            </p>
        </div>
        <div class='slide'>
            <div class='bg'>
                <img src='__IMG__/index/banner3/top.jpg'>
            </div>
            <div class='text'>
                <img src='__IMG__/index/banner3/text.png'>
            </div>
            <div class='bottom'>
                <img src='__IMG__/index/banner3/bg-6.jpg'>
            </div>
            <h3 style='top: 74vh;'>目前的Migros</h3>
            <p style='top: 81vh;'>
                目前，Migros被世界零售大会评为<br />世界上最可持续发展的企业之一。
            </p>
        </div>
    </div>
    <!-- 












    
     -->
    <div class='banner banner4'>
        <div class='slide banner4-slide-content1'>
            <img class='bg' src='__IMG__/index/banner4/1.jpg'>
            <img class='text' src='__IMG__/index/banner4/1.png'>
            <a href="{:U('whoWeAre')}" class='plus'></a>
        </div>
        <div class='slide banner4-slide-content2'>
            <img class='bg' src='__IMG__/index/banner4/2-1.png'>
            <img class='text' src='__IMG__/index/banner4/2.png'>
            <a href="{:U('howWeWork')}" class='plus'></a>
        </div>
        <div class='slide banner4-slide-content3'>
            <img class='bg' src='__IMG__/index/banner4/3.jpg'>
            <img class='text' src='__IMG__/index/banner4/3.png'>
            <a href="{:U('whereWeAre')}" class='plus'></a>
        </div>
    </div>
</block>

<block name='script'>
    <script type='text/javascript' src='__JS__/index.js'></script>
</block>