/**
方正兰亭c粗黒简体 用于标题
*/

@font-face {
    font-family: fzltch;
    src: url('fzltch.TTF');
}


/**
方正兰亭黒简体
*/

@font-face {
    font-family: fzlth;
    src: url('fzlth.TTF');
}


/**
方正兰亭细黒简体 用于正文和描述
*/

@font-face {
    font-family: fzltxh;
    src: url('fzltxh.TTF');
}

html,
body {
    font: 1vw/1.5 fzlth, fzltxh, fzltch, "microsoft yahei", Helvetica, Arial, sans-serif;
    color: #131313;
}

body {
    background-color: #f1f1f1;
}

body,
p,
pre,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
select,
input,
textarea,
button,
table,
caption,
tr,
th,
td,
div,
i,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fzltch !important;
}

p,
pre,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
select,
input,
textarea,
button,
table,
caption,
tr,
th,
td,
a,
span,
label,
i {
    font-family: fzltxh !important;
}

ol,
ul {
    list-style: none;
}

fieldset,
img {
    border: 0 none;
}

img {
    max-width: 100%;
}

a {
    color: #131313;
    text-decoration: none;
}

input,
button,
textarea,
select,
option {
    font-family: inherit;
    font-size: 100%;
    outline: 0;
}

textarea {
    overflow: auto;
    resize: none;
}


/* 布局样式 */

.cf {
    *zoom: 1;
}

.cf:before,
.cf:after {
    display: table;
    content: "";
}

.cf:after {
    clear: both;
}


/* 导航栏样式 */

#header-wrap {
    width: 100vw;
    height: 9vh;
    overflow: hidden;
    padding: 1.5vh 6vw;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

#header-wrap .logo {
    width: 40vw;
    height: 6vh;
    background: url(../images/header/logo.png) 0 50% no-repeat;
    background-size: contain;
    overflow: hidden;
    display: block;
    float: left;
}

#header-wrap .menu-nav {
    width: 40vw;
    height: 6vh;
    overflow: hidden;
    display: table;
    float: right;
    padding: 1.6vh 0;
}

#header-wrap .menu-nav span {
    display: table-cell;
    background-size: contain;
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

#header-wrap .menu-nav .menu-button {
    background-image: url(../images/header/menu-button.png);
}

#header-wrap .menu-nav .close-bg {
    background-image: url(../images/header/close.png);
}

#header-wrap .nav {
    width: 88vw;
    position: absolute;
    top: 24vh;
}

#header-wrap .nav li {
    height: 7vh;
    float: left;
    padding: 0 25vw;
    width: 88vw;
    margin-bottom: 3vmin;
    display: table;
}

#header-wrap .nav li a {
    display: table-cell;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#header-wrap .nav li .introduction {
    background-image: url(../images/header/introduction.png);
}

#header-wrap .nav li .detail {
    background-image: url(../images/header/detail.png);
}

#header-wrap .nav li .source {
    background-image: url(../images/header/source.png);
}

#header-wrap .social {
    width: 88vw;
    position: absolute;
    top: 63vh;
    padding: 0 11vw;
}

#header-wrap .social li {
    width: 16vw;
    height: 10vh;
    display: table;
    float: left;
    margin: 0 3vw;
}

#header-wrap .social li a {
    display: table-cell;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#header-wrap .social li .weixin {
    background-image: url(../images/header/weixin.png);
    ;
}

#header-wrap .social li .kaola {
    background-image: url(../images/header/kaola.png);
}

#header-wrap .social li .weibo {
    background-image: url(../images/header/weibo.png);
}

#header-wrap .footer {
    width: 100vw;
    padding: 0 2vw;
    position: absolute;
    top: 90vh;
    left: 0;
}

#header-wrap .footer li {
    width: 52vw;
    float: left;
    height: 4vh;
    line-height: 1;
    text-align: center;
    font-size: 2vw;
}

#header-wrap .footer li:nth-child(odd) {
    width: 44vw;
    text-align: right;
    padding-right: 1vw;
}

#header-wrap .footer li:nth-child(even) {
    text-align: left;
    padding-left: 1vw;
}

#header-wrap .footer li a {
    color: #fe5000;
    height: 4vh;
    line-height: 1;
}